- content_for :head do
  = stylesheet_link_tag 'home'
  = javascript_include_tag 'home'

= form_for Issue.new, :remote => true do |f|
  - placeholder = capture do
    &ndash; What are you concerning about in your city?
    &ndash; Give it some tags (ex: #traffic...)

  = f.text_area :title, value: placeholder, cols: 30, rows: 10
  = f.submit "That's It!"

#issues
  %ul.nav
    %li{ :class => @sort == 'recent' ? :active : ''  }= link_to 'Recent', '?sort=recent'
    %li{ :class => @sort == 'popular' ? :active : '' }= link_to 'Popular', '?sort=popular'

  .list
    = render @issues
