- content_for :head do
  = stylesheet_link_tag 'home'
  = javascript_include_tag 'home'

= form_for Issue.new, :remote => true do |f|
  - placeholder = capture do
    &ndash; What are you concerning about in your city?
    &ndash; Give it some tags (ex: #traffic...)

  = f.text_area :title, value: placeholder, cols: 30, rows: 10
  = f.submit "That's It!"

#issues
  %ul.nav
    %li.active Recent
    %li Popular

  .list
    = render @issues
